{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "cms.kosa-x.com/public_html",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "templates/theme/page-cart.php",
          "mtimeMs": 1752091287254.178,
          "date": "2025-07-09T20:01:27.948Z"
        },
        {
          "file": "templates/theme/page-index.php",
          "mtimeMs": 1761848753076.6106,
          "date": "2025-10-30T18:25:53.683Z"
        },
        {
          "file": "plugins/settings.php",
          "mtimeMs": 1761842153039.5474,
          "date": "2025-10-30T16:35:53.653Z"
        },
        {
          "file": "templates/theme/page-contact.php",
          "mtimeMs": 1761848645076.263,
          "date": "2025-10-30T18:24:05.769Z"
        },
        {
          "file": "templates/theme/_source/_global.scss",
          "mtimeMs": 1761847366833.8403,
          "date": "2025-10-30T18:02:48.642Z"
        },
        {
          "file": "templates/theme/_source/style.css",
          "mtimeMs": 1752160915773.292,
          "date": "2025-07-10T15:21:56.387Z"
        },
        {
          "file": "templates/theme/css/style.css",
          "mtimeMs": 1761851597016.59,
          "date": "2025-10-30T19:13:17.978Z"
        },
        {
          "file": "templates/theme/_source/_header.scss",
          "mtimeMs": 1761851595900.557,
          "date": "2025-10-30T19:13:17.654Z"
        },
        {
          "file": "templates/theme/_source/_mixins.scss",
          "mtimeMs": 1754404521225.1294,
          "date": "2025-08-05T14:35:22.525Z"
        },
        {
          "file": "templates/theme/_header.php",
          "mtimeMs": 1761679487342.8916,
          "date": "2025-10-28T19:24:47.877Z"
        },
        {
          "file": "images/default-image.png",
          "mtimeMs": 1761852356272.718,
          "date": "2025-10-30T19:25:56.938Z"
        },
        {
          "file": "templates/theme/_source/_content.scss",
          "mtimeMs": 1761851338905.014,
          "date": "2025-10-30T19:09:00.815Z"
        },
        {
          "file": "templates/theme/js/scripts.js",
          "mtimeMs": 1761679206229.7065,
          "date": "2025-10-28T19:20:06.993Z"
        },
        {
          "file": "templates/theme/_lists.php",
          "mtimeMs": 1761826331667.152,
          "date": "2025-10-30T12:12:12.271Z"
        },
        {
          "file": "core/files.php",
          "mtimeMs": 1761843832920.242,
          "date": "2025-10-30T17:03:53.512Z"
        },
        {
          "file": "templates/theme/js/scriptsBase.js",
          "mtimeMs": 1752602293850.292,
          "date": "2025-07-15T17:58:14.618Z"
        },
        {
          "file": "templates/theme/images/separator.png",
          "mtimeMs": 1752611477146.6863,
          "date": "2025-07-15T20:31:17.778Z"
        },
        {
          "file": "templates/theme/images/check.png",
          "mtimeMs": 1752615711468.9333,
          "date": "2025-07-15T21:41:52.528Z"
        },
        {
          "file": "templates/theme/_404.php",
          "mtimeMs": 1752613559680.521,
          "date": "2025-07-15T21:06:00.282Z"
        },
        {
          "file": "templates/theme/page.php",
          "mtimeMs": 1761845172736.9766,
          "date": "2025-10-30T17:26:13.424Z"
        },
        {
          "file": "templates/admin/pages-form.php",
          "mtimeMs": 1760984272713.667,
          "date": "2025-10-20T18:17:53.279Z"
        },
        {
          "file": "plugins/contact-form.php",
          "mtimeMs": 1761841044650.5483,
          "date": "2025-10-30T16:17:49.247Z"
        },
        {
          "file": "templates/theme/_footer.php",
          "mtimeMs": 1761851756267.9236,
          "date": "2025-10-30T19:15:56.847Z"
        },
        {
          "file": "images/logo.svg",
          "mtimeMs": 1761841039336.9236,
          "date": "2025-10-30T16:17:36.569Z"
        },
        {
          "file": "templates/theme/images/bg.png",
          "mtimeMs": 1761584856317.0686,
          "date": "2025-10-27T17:07:36.859Z"
        },
        {
          "file": "templates/theme/_source/_footer.scss",
          "mtimeMs": 1761851539906.3435,
          "date": "2025-10-30T19:12:21.773Z"
        },
        {
          "file": "core/pages.php",
          "mtimeMs": 1761842058457.5134,
          "date": "2025-10-30T16:34:19.432Z"
        },
        {
          "file": "database/lang_pl.php",
          "mtimeMs": 1761851816460.5679,
          "date": "2025-10-30T19:16:57.473Z"
        },
        {
          "file": "templates/admin/js/scripts.js",
          "mtimeMs": 1760993065168.112,
          "date": "2025-10-20T20:44:25.839Z"
        },
        {
          "file": "database/config.php",
          "mtimeMs": 1761851816250.9832,
          "date": "2025-10-30T19:16:56.752Z"
        },
        {
          "file": "database/config_pl copy.php",
          "mtimeMs": 1754385123303.8694,
          "date": "2025-08-05T09:12:03.777Z"
        },
        {
          "file": "database/config_en.php",
          "mtimeMs": 1754385334664.2634,
          "date": "2025-08-05T09:15:35.233Z"
        },
        {
          "file": "database/lang_en.php",
          "mtimeMs": 1756309220862.0444,
          "date": "2025-08-27T15:40:21.632Z"
        },
        {
          "file": "database/config_pl.php",
          "mtimeMs": 1761851816315.4146,
          "date": "2025-10-30T19:16:57.194Z"
        },
        {
          "file": "templates/theme/_meta.php",
          "mtimeMs": 1760616850410.9104,
          "date": "2025-10-16T12:14:11.249Z"
        },
        {
          "file": "images/ddcare-demczyna-logo.jpg",
          "mtimeMs": 1754673946929.86,
          "date": "2025-08-08T17:25:53.838Z"
        },
        {
          "file": "templates/theme/_title.php",
          "mtimeMs": 1761844027776.5034,
          "date": "2025-10-30T17:07:08.363Z"
        },
        {
          "file": "templates/admin/orders.php",
          "mtimeMs": 1760615440530.5034,
          "date": "2025-10-16T11:50:41.038Z"
        },
        {
          "file": "images/logo_dark-mode.svg",
          "mtimeMs": 1757094257481.8113,
          "date": "2025-10-16T12:35:01.510Z"
        },
        {
          "file": "plugins/contact-mail.php",
          "mtimeMs": 1761841044421.148,
          "date": "2025-10-30T16:17:48.627Z"
        },
        {
          "file": "templates/admin/_menu.php",
          "mtimeMs": 1760984420043.2021,
          "date": "2025-10-20T18:20:20.508Z"
        },
        {
          "file": "admin/index.html",
          "mtimeMs": 1760621439646.3262,
          "date": "2025-10-16T13:30:40.266Z"
        },
        {
          "file": "templates/theme/js/scripts.min.js",
          "mtimeMs": 1760622607740.2158,
          "date": "2025-10-16T13:50:08.604Z"
        },
        {
          "file": "images/icons/linkedin.svg",
          "mtimeMs": 1761841040694.1355,
          "date": "2025-10-30T16:17:39.522Z"
        },
        {
          "file": "templates/admin/settings.php",
          "mtimeMs": 1761585629914.2046,
          "date": "2025-10-27T17:20:30.596Z"
        },
        {
          "file": "plugins/plugins-admin.php",
          "mtimeMs": 1761841044286.7568,
          "date": "2025-10-30T16:17:47.742Z"
        },
        {
          "file": "plugins/phpliteadmin.php",
          "mtimeMs": 1760993723868.3875,
          "date": "2025-10-20T20:55:24.496Z"
        },
        {
          "file": "plugins/admin.php",
          "mtimeMs": 1761841044339.4255,
          "date": "2025-10-30T16:17:48.090Z"
        },
        {
          "file": "core/pages-admin.php",
          "mtimeMs": 1761841034436.8823,
          "date": "2025-10-30T16:17:15.784Z"
        },
        {
          "file": "templates/theme/images/bg-dark.png",
          "mtimeMs": 1761584876351.0806,
          "date": "2025-10-27T17:07:56.940Z"
        },
        {
          "file": "templates/theme/page-shop.php",
          "mtimeMs": 1761850132682.0354,
          "date": "2025-10-30T18:48:53.361Z"
        },
        {
          "file": "templates/admin/shop-form.php",
          "mtimeMs": 1761675530632.3271,
          "date": "2025-10-28T18:18:51.343Z"
        },
        {
          "file": "plugins/cart.php",
          "mtimeMs": 1761841044794.9111,
          "date": "2025-10-30T16:17:49.949Z"
        },
        {
          "file": "templates/theme/_column.php",
          "mtimeMs": 1761842118723.1543,
          "date": "2025-10-30T16:35:19.298Z"
        },
        {
          "file": "files/kosa_x.jpg",
          "mtimeMs": 1761849020000,
          "date": "2025-10-30T19:30:47.863Z"
        },
        {
          "file": "files/kosax-42.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.564Z"
        },
        {
          "file": "files/920/pizza-z-ananasem-2.png",
          "mtimeMs": 1761851828597.1958,
          "date": "2025-10-30T19:17:16.740Z"
        },
        {
          "file": "files/500/pizza-z-ananasem.png",
          "mtimeMs": 1761851829903.7332,
          "date": "2025-10-30T19:17:19.671Z"
        },
        {
          "file": "core/common.js",
          "mtimeMs": 1761841034261.5818,
          "date": "2025-10-30T16:17:14.765Z"
        },
        {
          "file": "core/lang-admin.php",
          "mtimeMs": 1761841034280.121,
          "date": "2025-10-30T16:17:15.012Z"
        },
        {
          "file": "core/common-admin.js",
          "mtimeMs": 1761841034366.9219,
          "date": "2025-10-30T16:17:15.289Z"
        },
        {
          "file": "core/common-admin.php",
          "mtimeMs": 1761841034356.3313,
          "date": "2025-10-30T16:17:16.310Z"
        },
        {
          "file": "core/common.php",
          "mtimeMs": 1761841034444.6545,
          "date": "2025-10-30T16:17:16.561Z"
        },
        {
          "file": "core/sliders-admin.php",
          "mtimeMs": 1761841034510.3267,
          "date": "2025-10-30T16:17:17.287Z"
        },
        {
          "file": "core/sliders.php",
          "mtimeMs": 1761841034589.921,
          "date": "2025-10-30T16:17:17.528Z"
        },
        {
          "file": "core/files-admin.php",
          "mtimeMs": 1761841034609.213,
          "date": "2025-10-30T16:17:18.017Z"
        },
        {
          "file": "core/libraries/image-jobs.php",
          "mtimeMs": 1761841034783.1064,
          "date": "2025-10-30T16:17:18.567Z"
        },
        {
          "file": "core/libraries/trash.php",
          "mtimeMs": 1761841034704.4414,
          "date": "2025-10-30T16:17:18.829Z"
        },
        {
          "file": "core/libraries/quick.form.min.js",
          "mtimeMs": 1761841034818.883,
          "date": "2025-10-30T16:17:19.087Z"
        },
        {
          "file": "core/libraries/forms-validate.php",
          "mtimeMs": 1761841034758.1724,
          "date": "2025-10-30T16:17:19.342Z"
        },
        {
          "file": "core/libraries/quick.slider.min.js",
          "mtimeMs": 1761841034891.6675,
          "date": "2025-10-30T16:17:19.609Z"
        },
        {
          "file": "core/libraries/file-jobs.php",
          "mtimeMs": 1761841034844.9233,
          "date": "2025-10-30T16:17:19.934Z"
        },
        {
          "file": "core/libraries/quick.box.min.js",
          "mtimeMs": 1761841034905.725,
          "date": "2025-10-30T16:17:20.195Z"
        },
        {
          "file": "core/libraries/sql.php",
          "mtimeMs": 1761841034970.3618,
          "date": "2025-10-30T16:17:20.735Z"
        },
        {
          "file": "files/icon_3.svg",
          "mtimeMs": 1761851824541.1184,
          "date": "2025-10-30T19:17:05.056Z"
        },
        {
          "file": "files/slider_4_srcset_768.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:47.534Z"
        },
        {
          "file": "files/roztocze-love-thumb2.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:46.694Z"
        },
        {
          "file": "files/kos3-1.jpg",
          "mtimeMs": 1761849020000,
          "date": "2025-10-30T19:30:45.127Z"
        },
        {
          "file": "files/slider_4.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:47.704Z"
        },
        {
          "file": "files/kosax-28.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.394Z"
        },
        {
          "file": "files/slider_2.png",
          "mtimeMs": 1761849020000,
          "date": "2025-10-30T19:30:47.379Z"
        },
        {
          "file": "files/slider_2_srcset_768.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:47.125Z"
        },
        {
          "file": "files/pizza-z-ananasem-2.png",
          "mtimeMs": 1761849020000,
          "date": "2025-10-30T19:30:46.347Z"
        },
        {
          "file": "files/icon_1.svg",
          "mtimeMs": 1761851826184.531,
          "date": "2025-10-30T19:17:10.250Z"
        },
        {
          "file": "files/slider_1.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:46.975Z"
        },
        {
          "file": "files/slider_1_srcset_768.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:46.826Z"
        },
        {
          "file": "files/pizza-z-ananasem.png",
          "mtimeMs": 1761849020000,
          "date": "2025-10-30T19:30:46.541Z"
        },
        {
          "file": "files/kosax-01.jpg",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.258Z"
        },
        {
          "file": "files/icon_2.svg",
          "mtimeMs": 1761851826923.6096,
          "date": "2025-10-30T19:17:12.451Z"
        },
        {
          "file": "files/920/roztocze-love-thumb2.jpg",
          "mtimeMs": 1761851827408.0874,
          "date": "2025-10-30T19:17:13.190Z"
        },
        {
          "file": "files/920/kos3-1.jpg",
          "mtimeMs": 1761851827570.7312,
          "date": "2025-10-30T19:17:13.915Z"
        },
        {
          "file": "files/920/kosax-28.jpg",
          "mtimeMs": 1761851827546.9487,
          "date": "2025-10-30T19:17:13.540Z"
        },
        {
          "file": "files/920/slider_2.png",
          "mtimeMs": 1761851827774.3464,
          "date": "2025-10-30T19:17:14.320Z"
        },
        {
          "file": "files/920/slider_1.jpg",
          "mtimeMs": 1761851827912.307,
          "date": "2025-10-30T19:17:14.695Z"
        },
        {
          "file": "files/920/pizza-z-ananasem.png",
          "mtimeMs": 1761851828170.5012,
          "date": "2025-10-30T19:17:15.578Z"
        },
        {
          "file": "files/920/kosax-42.jpg",
          "mtimeMs": 1761851828329.4387,
          "date": "2025-10-30T19:17:15.985Z"
        },
        {
          "file": "files/500/icon_2.svg_backup.jpg",
          "mtimeMs": 1761851828626.5088,
          "date": "2025-10-30T19:17:17.328Z"
        },
        {
          "file": "files/920/kosax-01.jpg",
          "mtimeMs": 1761851828470.2507,
          "date": "2025-10-30T19:17:16.330Z"
        },
        {
          "file": "files/500/icon_3.svg_backup.jpg",
          "mtimeMs": 1761851828690.9453,
          "date": "2025-10-30T19:17:17.038Z"
        },
        {
          "file": "files/500/roztocze-love-thumb2.jpg",
          "mtimeMs": 1761851828745.0461,
          "date": "2025-10-30T19:17:17.656Z"
        },
        {
          "file": "files/500/icon_1.svg_backup.jpg",
          "mtimeMs": 1761851829039.0544,
          "date": "2025-10-30T19:17:18.308Z"
        },
        {
          "file": "files/500/kosa_x.jpg",
          "mtimeMs": 1761851828985.67,
          "date": "2025-10-30T19:17:18.012Z"
        },
        {
          "file": "files/500/kosax-28.jpg",
          "mtimeMs": 1761851829083.3572,
          "date": "2025-10-30T19:17:18.617Z"
        },
        {
          "file": "files/500/slider_2.png",
          "mtimeMs": 1761851829235.829,
          "date": "2025-10-30T19:17:18.968Z"
        },
        {
          "file": "files/500/pizza-z-ananasem-2.png",
          "mtimeMs": 1761851829250.767,
          "date": "2025-10-30T19:17:19.301Z"
        },
        {
          "file": "files/500/kosax-42.jpg",
          "mtimeMs": 1761851829892.6038,
          "date": "2025-10-30T19:17:20.002Z"
        },
        {
          "file": "files/500/kosax-01.jpg",
          "mtimeMs": 1761851829999.0024,
          "date": "2025-10-30T19:17:20.313Z"
        },
        {
          "file": "images/logo-dark.svg",
          "mtimeMs": 1761841039275.3965,
          "date": "2025-10-30T16:17:36.333Z"
        },
        {
          "file": "images/icons/night.svg",
          "mtimeMs": 1761841039933.6428,
          "date": "2025-10-30T16:17:37.454Z"
        },
        {
          "file": "images/icons/shop.svg",
          "mtimeMs": 1761841040020.4285,
          "date": "2025-10-30T16:17:37.703Z"
        },
        {
          "file": "images/icons/transport.svg",
          "mtimeMs": 1761841040111.4631,
          "date": "2025-10-30T16:17:37.962Z"
        },
        {
          "file": "images/icons/flag-de.png",
          "mtimeMs": 1761841040277.5771,
          "date": "2025-10-30T16:17:38.252Z"
        },
        {
          "file": "images/icons/play.svg",
          "mtimeMs": 1761841040196.441,
          "date": "2025-10-30T16:17:38.507Z"
        },
        {
          "file": "images/icons/youtube.svg",
          "mtimeMs": 1761841040382.7021,
          "date": "2025-10-30T16:17:38.754Z"
        },
        {
          "file": "images/icons/search.svg",
          "mtimeMs": 1761841040475.3823,
          "date": "2025-10-30T16:17:39.002Z"
        },
        {
          "file": "images/icons/flag-uk.png",
          "mtimeMs": 1761841040591.616,
          "date": "2025-10-30T16:17:39.258Z"
        },
        {
          "file": "images/icons/send.svg",
          "mtimeMs": 1761841040842.5142,
          "date": "2025-10-30T16:17:39.780Z"
        },
        {
          "file": "images/icons/location.svg",
          "mtimeMs": 1761841040775.4502,
          "date": "2025-10-30T16:17:40.034Z"
        },
        {
          "file": "images/icons/basket.svg",
          "mtimeMs": 1761841040924.722,
          "date": "2025-10-30T16:17:40.276Z"
        },
        {
          "file": "images/icons/flag-fr.png",
          "mtimeMs": 1761841041105.4084,
          "date": "2025-10-30T16:17:40.544Z"
        },
        {
          "file": "images/icons/logo-booksy.png",
          "mtimeMs": 1761841041021.7097,
          "date": "2025-10-30T16:17:40.799Z"
        },
        {
          "file": "images/icons/location-line.svg",
          "mtimeMs": 1761841041210.5498,
          "date": "2025-10-30T16:17:41.051Z"
        },
        {
          "file": "images/icons/cart.svg",
          "mtimeMs": 1761841041375.848,
          "date": "2025-10-30T16:17:41.302Z"
        },
        {
          "file": "images/icons/close.svg",
          "mtimeMs": 1761841041305.251,
          "date": "2025-10-30T16:17:41.553Z"
        },
        {
          "file": "images/icons/home.svg",
          "mtimeMs": 1761841041457.099,
          "date": "2025-10-30T16:17:41.805Z"
        },
        {
          "file": "images/icons/arrow.svg",
          "mtimeMs": 1761841041629.1348,
          "date": "2025-10-30T16:17:42.071Z"
        },
        {
          "file": "images/icons/instagram.svg",
          "mtimeMs": 1761841041547.6738,
          "date": "2025-10-30T16:17:42.318Z"
        },
        {
          "file": "images/icons/tik-tok.svg",
          "mtimeMs": 1761841041724.9766,
          "date": "2025-10-30T16:17:42.603Z"
        },
        {
          "file": "images/icons/flag-en.png",
          "mtimeMs": 1761841041834.2773,
          "date": "2025-10-30T16:17:42.847Z"
        },
        {
          "file": "images/icons/email.svg",
          "mtimeMs": 1761841042150.644,
          "date": "2025-10-30T16:17:43.094Z"
        },
        {
          "file": "images/icons/link.svg",
          "mtimeMs": 1761841042243.2893,
          "date": "2025-10-30T16:17:43.340Z"
        },
        {
          "file": "images/icons/time.svg",
          "mtimeMs": 1761841042322.9443,
          "date": "2025-10-30T16:17:43.592Z"
        },
        {
          "file": "images/icons/phone-line.svg",
          "mtimeMs": 1761841042401.1282,
          "date": "2025-10-30T16:17:43.846Z"
        },
        {
          "file": "images/icons/home-line.svg",
          "mtimeMs": 1761841042486.4224,
          "date": "2025-10-30T16:17:44.093Z"
        },
        {
          "file": "images/icons/404.svg",
          "mtimeMs": 1761841042574.2803,
          "date": "2025-10-30T16:17:44.351Z"
        },
        {
          "file": "images/icons/check.svg",
          "mtimeMs": 1761841042646.278,
          "date": "2025-10-30T16:17:44.604Z"
        },
        {
          "file": "images/icons/money.svg",
          "mtimeMs": 1761841042737.131,
          "date": "2025-10-30T16:17:44.851Z"
        },
        {
          "file": "images/icons/box.svg",
          "mtimeMs": 1761841042905.1387,
          "date": "2025-10-30T16:17:45.097Z"
        },
        {
          "file": "images/icons/arrow-long.svg",
          "mtimeMs": 1761841042828.8765,
          "date": "2025-10-30T16:17:45.349Z"
        },
        {
          "file": "images/icons/phone.svg",
          "mtimeMs": 1761841042975.7402,
          "date": "2025-10-30T16:17:45.601Z"
        },
        {
          "file": "images/icons/tiktok.svg",
          "mtimeMs": 1761841043058.9402,
          "date": "2025-10-30T16:17:45.840Z"
        },
        {
          "file": "images/icons/email-line.svg",
          "mtimeMs": 1761841043134.126,
          "date": "2025-10-30T16:17:46.093Z"
        },
        {
          "file": "images/icons/info.svg",
          "mtimeMs": 1761841043836.3127,
          "date": "2025-10-30T16:17:46.434Z"
        },
        {
          "file": "images/icons/facebook.svg",
          "mtimeMs": 1761841044209.1477,
          "date": "2025-10-30T16:17:46.707Z"
        },
        {
          "file": "images/icons/flag-pl.png",
          "mtimeMs": 1761841044132.1875,
          "date": "2025-10-30T16:17:46.989Z"
        },
        {
          "file": "images/icons/smartphone.svg",
          "mtimeMs": 1761841044215.0989,
          "date": "2025-10-30T16:17:47.423Z"
        },
        {
          "file": "plugins/mmenu-light.js",
          "mtimeMs": 1761841044371.1536,
          "date": "2025-10-30T16:17:48.344Z"
        },
        {
          "file": "plugins/jquery.mobile-events.min.js",
          "mtimeMs": 1761841045078.2192,
          "date": "2025-10-30T16:17:50.892Z"
        },
        {
          "file": "plugins/external.css",
          "mtimeMs": 1761841044728.5679,
          "date": "2025-10-30T16:17:49.584Z"
        },
        {
          "file": "plugins/jquery.min.js",
          "mtimeMs": 1761841045072.554,
          "date": "2025-10-30T16:17:50.587Z"
        },
        {
          "file": "plugins/chosen/chosen.css",
          "mtimeMs": 1761841045389.4167,
          "date": "2025-10-30T16:17:51.156Z"
        },
        {
          "file": "plugins/chosen/chosen.jquery.min.js",
          "mtimeMs": 1761841045475.137,
          "date": "2025-10-30T16:17:51.428Z"
        },
        {
          "file": "plugins/chosen/chosen-sprite.png",
          "mtimeMs": 1761841045366.985,
          "date": "2025-10-30T16:17:51.739Z"
        },
        {
          "file": "plugins/chosen/chosen-sprite@2x.png",
          "mtimeMs": 1761841045476.6877,
          "date": "2025-10-30T16:17:52.149Z"
        },
        {
          "file": "plugins/tinymce/jquery.tinymce.min.js",
          "mtimeMs": 1761841045556.4888,
          "date": "2025-10-30T16:17:52.442Z"
        },
        {
          "file": "plugins/tinymce/plugins/about.htm",
          "mtimeMs": 1761841045676.6038,
          "date": "2025-10-30T16:17:52.769Z"
        },
        {
          "file": "plugins/tinymce/tinymce.min.js",
          "mtimeMs": 1761841045714.9424,
          "date": "2025-10-30T16:17:53.136Z"
        },
        {
          "file": "plugins/tinymce/plugins/fullscreen/plugin.min.js",
          "mtimeMs": 1761841045777.5415,
          "date": "2025-10-30T16:17:53.412Z"
        },
        {
          "file": "plugins/tinymce/plugins/code/plugin.min.js",
          "mtimeMs": 1761841045873.3376,
          "date": "2025-10-30T16:17:53.717Z"
        },
        {
          "file": "plugins/tinymce/plugins/link/plugin.min.js",
          "mtimeMs": 1761841045839.7083,
          "date": "2025-10-30T16:17:54.017Z"
        },
        {
          "file": "plugins/tinymce/plugins/tabindex/plugin.min.js",
          "mtimeMs": 1761841045968.5703,
          "date": "2025-10-30T16:17:54.303Z"
        },
        {
          "file": "plugins/tinymce/skins/lightgray/content.min.css",
          "mtimeMs": 1761841046026.3193,
          "date": "2025-10-30T16:17:54.592Z"
        },
        {
          "file": "plugins/tinymce/plugins/lists/plugin.min.js",
          "mtimeMs": 1761841045938.3577,
          "date": "2025-10-30T16:17:54.923Z"
        },
        {
          "file": "plugins/tinymce/skins/lightgray/skin.min.css",
          "mtimeMs": 1761841046070.3774,
          "date": "2025-10-30T16:17:55.275Z"
        },
        {
          "file": "plugins/tinymce/skins/lightgray/quick-custom.css",
          "mtimeMs": 1761841046092.7734,
          "date": "2025-10-30T16:17:55.560Z"
        },
        {
          "file": "plugins/tinymce/skins/lightgray/fonts/readme.md",
          "mtimeMs": 1761841046364.5464,
          "date": "2025-10-30T16:17:55.869Z"
        },
        {
          "file": "plugins/tinymce/skins/lightgray/fonts/tinymce.svg",
          "mtimeMs": 1761841046442.0125,
          "date": "2025-10-30T16:17:56.171Z"
        },
        {
          "file": "plugins/tinymce/themes/modern/theme.min.js",
          "mtimeMs": 1761841046571.5637,
          "date": "2025-10-30T16:17:56.508Z"
        },
        {
          "file": "plugins/tinymce/langs/pl.js",
          "mtimeMs": 1761841046598.1772,
          "date": "2025-10-30T16:17:56.804Z"
        },
        {
          "file": "plugins/tinymce/langs/readme.md",
          "mtimeMs": 1761841046774.6836,
          "date": "2025-10-30T16:17:57.081Z"
        },
        {
          "file": "plugins/valums-file-uploader/fileuploader.css",
          "mtimeMs": 1761841046874.1052,
          "date": "2025-10-30T16:17:57.342Z"
        },
        {
          "file": "plugins/valums-file-uploader/fileuploader.min.js",
          "mtimeMs": 1761841046966.8809,
          "date": "2025-10-30T16:17:57.635Z"
        },
        {
          "file": "plugins/valums-file-uploader/upload.png",
          "mtimeMs": 1761841046951.174,
          "date": "2025-10-30T16:17:57.917Z"
        },
        {
          "file": "poczta/index.html",
          "mtimeMs": 1761841047051.606,
          "date": "2025-10-30T16:17:58.171Z"
        },
        {
          "file": "templates/theme/images/cta-bg.jpg",
          "mtimeMs": 1761845484795.8623,
          "date": "2025-10-30T17:31:25.548Z"
        },
        {
          "file": "files/bs-lubaczow.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:44.950Z"
        },
        {
          "file": "files/logo-edp.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.690Z"
        },
        {
          "file": "files/logo-galeria-twierdza.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.803Z"
        },
        {
          "file": "files/logo-plus.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:45.955Z"
        },
        {
          "file": "files/logo-recman.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:46.065Z"
        },
        {
          "file": "files/logo-rst-roztocze.png",
          "mtimeMs": 1761849022000,
          "date": "2025-10-30T19:30:46.176Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "templates/theme/_source/style.scss",
        "config": {
          "customOutput": "templates/theme/css/style.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      }
    ]
  }
}
